<a href="https://colab.research.google.com/github/kunal077/Data-Science/blob/main/Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [ ]:
#The two workhorse Data Structure: Series and DataFrame
#Series-1D array like object containing an array of data (NumPy Data Type)
#and associated array of data labels called index

obj = Series([4, 7, -5, 3])
print(obj)
print(obj.values, obj.index)

#Explicit assigning of index
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2, "\n", obj2.index)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3] RangeIndex(start=0, stop=4, step=1)
d    4
b    7
a   -5
c    3
dtype: int64
 Index(['d', 'b', 'a', 'c'], dtype='object')

In [ ]:
obj2 = Series([6, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2[obj2>0], obj2*2, 'b' in obj2, np.exp(obj2))

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
print(obj3)

#If indexing is explicitly passed it will be sorted according to KEY from dict
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index = states)
print(obj4)

#For detection of missing data
print(pd.isnull(obj4), pd.notnull(obj4), obj4.isnull())

#Automatic alignment of differently indexed data in arithmetic operations
print(obj3 + obj4)
print(obj3-obj4)
print()

obj4.name = "population" #Values
obj4.index.name = "state" #Keys
print(obj4)
#indexes can be reassigned

d    6
b    7
c    3
dtype: int64 d    12
b    14
a   -10
c     6
dtype: int64 True d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64
California    NaN
Ohio          0.0
Oregon        0.0
Texas         0.0
Utah          NaN
dtype: float64

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [ ]:
#DataFrame
#Tabular, Spreadsheet type-like data structure
# Dict of Series, Both R and C are Indexed
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

frame = DataFrame(data)
print(frame)
print()
frame = DataFrame(data, columns=['year', 'state', 'pop'])
print(frame)

frame2 = DataFrame(data, columns = ['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
print("\n", frame2, "\n", frame2.shape)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

        year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
 (5, 4)

In [ ]:
frame2['state'], frame2['year']
frame2.loc["five"]
#We can use loc and iloc instead of ix (as indexes)

#frame2['debt'] = 16.5
frame2['debt'] = np.arange(5.)
print(frame2)

#We can assign list/ ndarrays to df.columns
val = Series([-1.2, -1.5, -1.7], index=['two','four','five'])
print(val)

frame2['debt'] = val
print(frame2)
print()
frame2['eastern'] = (frame2.state == 'Ohio')
print(frame2); del frame2['eastern']; print(); print(frame2)
frame2.columns

#We can also conver dict of dict to DataFrame directly since ther 
#are indexes already on both sides

pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
#Since the inner dicts contain similar indexes, therefore
frame3 = DataFrame(pop, index =[2000,2001,2002]) #When we pass indexes then it gets sorted
print(frame3, "\n", frame3.shape)
print(frame3.T)
#There is Index and Column nor Row and Column

print(frame3.values) #Returns ndarray

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
two    -1.2
four   -1.5
five   -1.7
dtype: float64
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
 (3, 2)
        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6
[[nan 1.5]
 [2.4 1.7]
 [2.9 3.6]]

In [ ]:
index = pd.Index(np.arange(3))
print(index)

obj2 = Series([1.5, -2.5, 0], index = index)
print(obj2)
print(obj2.index is index)

Int64Index([0, 1, 2], dtype='int64')
0    1.5
1   -2.5
2    0.0
dtype: float64
True